<!DOCTYPE HTML>
<HTML>

<HEAD>
    <style>
h3 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}
    </style>

</HEAD>
<BODY>

<h3>Twoja stawka {{bidStawka}}zł - została przyjęta dla {{nameItems}}</h3>


</BODY>
